:root {
	box-sizing: border-box;
	
	--gray-100: hsl(204, 45%, 98%);
    --gray-200: hsl(210, 38%, 95%);
    --gray-300: hsl(214, 32%, 91%);
    --gray-400: hsl(211, 25%, 84%);
    --gray-500: hsl(214, 20%, 69%);
    --gray-600: hsl(216, 15%, 52%);
    --gray-700: hsl(218, 17%, 35%);
    --gray-800: hsl(218, 23%, 23%);
    --gray-900: hsl(220, 26%, 14%);
  --blue: hsl(240, 70%, 45%);
  --aqua: hsl(194, 71%, 49%);
  --aqua-400: hsl(194, 71%, 37%);
  --tan: hsl(35, 28%, 62%);
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
  font-size: 100%;
  color: var(--var-gray-700);
  background-image: linear-gradient(120deg, var(--gray-600), var(--gray-700));
  width: 1280px;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 2em auto;
  
}

.inspiration {
    color: #333;
    position: absolute;
    top: 8em;
    right: .5em;
    text-decoration: underline;
}

.inspiration:hover, .inspiration:focus {
    color: #000;
}

.grid {
  padding: 1em 0;
  background-color: rgba(255,255,255,.6);
  border: 1px solid blue;
  width: 1280px;
  height: 840px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px;
  overflow: hidden;
}

.top-bar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.top-bar svg {
  width: 100%;
  height: 20px;
}

.top-bar line {
  stroke: #000;
  stroke-width: 8px;
  stroke-dasharray: 36 86 482 70 482 86 36;
}

#designmag {
  font-size: 1.05em;
  fill: #000;
}

#designmag tspan {
  font-weight: 900;
}


.brad {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: #000;
  padding: 1.5em;
  padding-top: 0;
  margin-left: 2.5em;
  color: #fff;
}

.svg-wrap {
  position: relative;
  left: -60px;
}

.brad text {
  fill: #fff;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 700;
}

.brad h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: -.01em;
  line-height: 1;
}

.brad p.summary {
  
}

.brad cite {
  font-weight: 600;
}








.james {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: var(--blue);
  
  
}







