:root {
	box-sizing: border-box;
	
	--gray-100: hsl(204, 45%, 98%);
    --gray-200: hsl(210, 38%, 95%);
    --gray-300: hsl(214, 32%, 91%);
    --gray-400: hsl(211, 25%, 84%);
    --gray-500: hsl(214, 20%, 69%);
    --gray-600: hsl(216, 15%, 52%);
    --gray-700: hsl(218, 17%, 35%);
    --gray-800: hsl(218, 23%, 23%);
    --gray-900: hsl(220, 26%, 14%);
  
  --red: hsl(348, 67%, 49%);
  --yellow: hsl(33, 57%, 90%);
  --yellow-800: hsl(33, 57%, 75%);
  
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
  font-size: 100%;
  color: var(--var-gray-700);
  background-image: linear-gradient(120deg, var(--gray-500), var(--gray-700));
  height: 100vh;
  width: 1280px;
  margin: 1em auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.inspiration {
    
    color: #333;
    position: absolute;
    top: 8em;
    right: .5em;
    text-decoration: underline;
}

.inspiration:hover, .inspiration:focus {
    color: #000;
}

.grid {
  width: 1280px;
  height: 800px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
}

.absolute--steps {
  position: absolute;
  width: 130px;
  height: 182px;
  top: 22.25rem;
  right: 38.5rem;
}

.absolute--steps .three {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 3.25rem;
  fill: #fff;
  stroke: var(--yellow-800);
  stroke-width: 2;
}

.absolute--steps .no-stroke {
  stroke: none;
}

.absolute--steps .steps {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  fill: #fff;
  letter-spacing: 2px;
}

.perfectly {
  font-style: italic;
}

.to {
  font-size: .7rem;
}

.perfect{
  font-weight: 600;
  text-transform: uppercase;
  font-size: .7rem
}

.tranquility {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .7rem;
}

.cell--one {
  grid-column: 1 / 2;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,.2)), url(../img/float.jpg);
  background-size: cover;
  margin-right: 1rem;
  padding: 2.5rem;
}

.clippy {
  width: 65px;
  height: 95px;
  position: absolute;
  top: 0;
}

.clippy path {
  stroke-linejoin: bevel;
}

.clippy text {
  font-size: 33px;
  fill: #fff;
  font-weight: 600;
}

.clippy h3 {
  color: var(--red);
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 600;
  transform: translateX(13px);
  border-bottom: 2px solid var(--gray-800);
  width: max-content;
  position: relative;
}

.clippy h3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 1px;
  background-color: var(--gray-800);
}

h1 {
  font-size: 3.85rem;
  text-transform: uppercase;
  padding-top: 340px;
  letter-spacing: -2px;
  line-height: 1
}

.el {
  width: 42%;
  font-size: .72rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.el span {
  text-transform: uppercase;
  color: var(--red);
  font-weight: 700;
}

.icons--wrap {
  font-size: .6rem;
  border-top: 2px solid var(--gray-800);
  border-bottom: 2px solid var(--gray-800);
  width: 45%;
  display: flex;
  padding: .45rem 0;
}

.icons {
  
}

.icon {
  display: flex;
  align-items: center;
}

.icon + .icon {
  border-left: 1px solid var(--gray-800);
}

.icon p {
  flex: 0 0 70%;
  line-height: 1;
}

.circle--small {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  flex: 0 0 20px;
  margin-right: .35rem;
  margin-left: .25rem;
}

.icomoon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.icon p span {
  text-transform: uppercase;
  color: var(--red);
  font-weight: 700;
}

.paras {
  display: grid;
  grid-template-columns: repeat(5, 1fr) .5fr 1fr 1fr;
  grid-gap: 1.5rem;
  font-size: .6rem;
  margin-top: .75rem;
  line-height: 1.3;
}

.paras span {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--red);
  font-weight: .7rem;
}



.cell--two {
  grid-column: 2 / 3;
  background-color: var(--yellow);
  padding: 2.5rem .75rem;
  position: relative;
}

.absolute {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 8.75rem;
  left: 5rem;
}

.absolute--two {
  width: 144px;
  height: 208px;
  top: 18rem;
  left: auto;
}

.absolute--three {
  width: 170px;
  height: 145px;
  top: 25rem;
  left: 4rem;
}

.absolute--four {
  width: 100px;
  height: 127px;
  top: 37rem;
  left: 7rem;
}

.absolute path {
  stroke: var(--gray-700);
  fill: none;
  stroke-dasharray: 5 1;
}

.imbibe {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.imbibe span {
  display: block;
  font-size: 2.7rem;
  line-height: 1;
}

.malibu {
  font-size: .8rem;
  color: var(--red);
  font-weight: 400;
  text-align: center;
  line-height: 1.05;
  width: 80%;
  margin-left: 10%;
}

.grid--sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  margin-top: .75rem;
  grid-column-gap: .5rem;
}

.circle--group {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.circle--group-one {
  position: relative;
}

.circle {
  width: 80px;
  height: 80px;
  background-image: url('../img/cathedral.jpg');
  background-size: cover;
  box-shadow: 0px 0px 0 3px var(--yellow),
              0px 0px 0 4px var(--gray-700);
  padding: .5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.circle--two {
  background-image: url('../img/dog.jpg');
}

.circle--three {
  background-image: url('../img/building.jpg');
}

.circle--four {
  background-image: url('../img/desert.jpg');
}

.circle--group h3 {
  text-transform: uppercase;
  font-size: .7rem;
  text-align: center;
  margin-top: .5rem;
}

.circle--group h3 span {
  display: block;
  line-height: .8;
}

.circle--group p {
  font-size: .57rem;
  width: 70%;
  margin-left: 15%;
  margin-top: .3rem;
  text-align: center;
  line-height: 1.05;
}

.tiny--img {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  transform: translateX(-7px);
}

.img--volcano {
  width: 50px;
  height: 70px;
  float: left;
  shape-outside: url(../img/volcano.png);
  shape-margin: .2rem;
}

.tiny--img p {
  font-size: .57rem;
  line-height: 1.05;
  margin-top: 1.4rem;
}

.circle--group-two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.absolute--wine {
  position: absolute;
  left: 2.25rem;
  bottom: .5rem;
}

.img--wine {
  width: 105px;
}

.absolute--wine p {
  margin-top: -1.25rem;
  text-align: right;
  width: 40px;
  transform: translateX(30px)
}

.circle--group-three {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  margin-top: .5rem;
  position: relative;
}

.absolute--guitar {
  position: absolute;
  top: -3.25rem;
}

.absolute--guitar p {
  margin-top: .75rem;
}

.img--guitar {
  width: 26px;
  float: left;
}

.circle--group-four {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  margin-top: 3.5rem;
  position: relative;
}

.absolute--police {
  text-align: right;
  transform: translateX(1.25rem);
  margin-top: .8rem;
}

.img--police {
  width: 70px;
}
