#calendar-wrap
      header
        h1 August 2014
      #calendar
        ul.weekdays
          li Sunday
          li Monday
          li Tuesday
          li Wednesday
          li Thursday
          li Friday
          li Saturday
        ul.days
          li.day.other-month
            .date 27
          li.day.other-month
            .date 28
            .event
              .event-desc
                | HTML5 lecture with Brad Traversy from Eduonix
              .event-time
                | 1:00pm to 3:00pm
          li.day.other-month
            .date 29
          li.day.other-month
            .date 30
          li.day.other-month
            .date 31
          li.day
            .date 1
          li.day
            .date 2
            .event
              .event-desc
                | Career development at Northern Essex Community College
              .event-time
                | 11:00am to 5:00pm
        ul.days
          li.day
            .date 3
          li.day
            .date 4
          li.day
            .date 5
          li.day
            .date 6
            .event
              .event-desc
                | Web programming seminar at Boston College
              .event-time
                | 10:00am to 2:00pm
          li.day
            .date 7
          li.day
            .date 8
          li.day
            .date 9
        ul.days
          li.day
            .date 10
          li.day
            .date 11
            .event
              .event-desc
                | Social media and business lecture by John Doe
              .event-time
                | 9:00am to 1:00pm
          li.day
            .date 12
          li.day
            .date 13
          li.day
            .date 14
          li.day
            .date 15
          li.day
            .date 16
            .event
              .event-desc
                | Graphic design seminar featuring local designers and artists
              .event-time
                | 9:00am to 1:00pm
        ul.days
          li.day
            .date 17
          li.day
            .date 18
          li.day
            .date 19
            .event
              .event-desc
                | Graphic design seminar featuring local designers and artists
              .event-time
                | 9:00am to 1:00pm
          li.day
            .date 20
          li.day
            .date 21
          li.day
            .date 22
          li.day
            .date 23
        ul.days
          li.day
            .date 24
          li.day
            .date 25
            .event
              .event-desc
                | Graphic design seminar featuring local designers and artists
              .event-time
                | 9:00am to 1:00pm
          li.day
            .date 26
          li.day
            .date 27
          li.day
            .date 28
          li.day
            .date 29
          li.day
            .date 30
        ul.days
          li.day
            .date 31
          li.day
            .date.other-month 1
          li.day.other-month
            .date 2
            .event
              .event-desc
                | Graphic design seminar featuring local designers and artists
              .event-time
                | 9:00am to 1:00pm
          li.day.other-month
            .date 3
          li.day.other-month
            .date 4
          li.day.other-month
            .date 5
          li.day.other-month
            .date 6