@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  box-sizing: border-box; 
  --red: hsl(0, 69%, 65%);
}

*, ::before, ::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 3px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: var(--red);
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  position: relative;
  width: 400px;
  height: 400px;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #fff;
  animation: circleScale 1s both ease-in-out;
}

.line--left, .line--right {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #fff;
  opacity: 0;
  animation: leftLineScaleHalf 1300ms 1100ms ease-in;
}

.line--right {
  animation: rightLineScaleHalf 1300ms 1100ms ease-in;
}

.vertical--line-left, .vertical--line-right {
  position: absolute;
  background-color: #fff;
  left: 12%;
  width: 4px;
  bottom: 50%;
  top: 50%;
  transform: translateY(-50%);
  animation: scaleUpVerticalLine 1000ms 2300ms forwards;
  opacity: 0;
}

.vertical--line-right {
  right: 12%;
  left: auto;
  animation: scaleUpVerticalLineRight 1000ms 2300ms forwards;
}

.top--line-left, .bottom--line-left {
  position: absolute;
  left: 12%;
  top: 40%;
  height: 4px;
  background-color: #fff;
  right: 88%;
  opacity: 0;
  animation: borderScaleLeft 600ms 3000ms forwards;
}

.bottom--line-left {
  top: auto;
  bottom: 40%;
}

.top--line-right, .bottom--line-right {
  position: absolute;
  left: 88%;
  right: 12%;
  top: 40%;
  height: 4px;
  background-color: #fff;
  opacity: 0;
  animation: borderScaleRight 600ms 3000ms forwards;
}

.bottom--line-right {
  top: auto;
  bottom: 40%;
}

.moments {
  padding: 0 .5em;
  position: relative;
  font-size: 3.25em;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  
  &--moments {
    display: inline-block;
    opacity: 0;
    position: relative;
    animation: makeVisible 200ms 2600ms forwards;
    
    transform: translateY(-2px);
  }
  
  &--cover-top, &--cover-bottom {
    content: "";
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    left: 0;
    right: 0;
    bottom: 49%;
    top: 0;
    background-color: var(--red);
    animation: scaleUpTop 3000ms 2100ms;
    opacity: 0;
  }
  
  &--cover-bottom {
    bottom: 0;
    top: 49%;
    animation: scaleUpBottom 3000ms 2100ms;
  }
  
}

.collect, .not {
  font-size: .6em;
  display: block;
  font-weight: 300;
  left: 50%;
  top: -40px;
  text-align: center;
  opacity: 0;
  transform: translateX(-30px);
  animation: wordsTranslate 900ms 3500ms forwards;
  z-index: 50000;
}

.not {
  bottom: -40px;
  top: auto;
  transform: translateX(30px);
}



@keyframes circleScale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  
  15% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes leftLineScaleHalf {
  0% {
    opacity: 1;
  }
  
  50% {
    left: 12%;
    right: 50%;
  }
  
  100% {
    left: 12%;
    right: 88%;
    opacity: 1;
  }
}

@keyframes rightLineScaleHalf {
  0% {
    opacity: 1;
  }
  
  50% {
    left: 50%;
    right: 12%;
  }
  
  100% {
    left: 88%;
    right: 12%;
    opacity: 1;
  }
}

@keyframes scaleUpTop {
  
  0% {
    opacity: 1;
  }
  
  100% {
    bottom: 125%;
    top: -125%;
    opacity: 1;
  }
  
}

@keyframes scaleUpBottom {
  
  0% {
    opacity: 1;
  }
  
  100% {
    top: 120%;
    bottom: -120%;
    opacity: 1;
  }
  
}

@keyframes makeVisible {
  1%, 100% {
    opacity: 1;
  }
}

@keyframes scaleUpVerticalLine {
  0% {
    opacity: 1;
  }
  100% {
    bottom: 30%;
    top: 50%;
    opacity: 1;
  }
}

@keyframes scaleUpVerticalLineRight {
  0% {
    opacity: 1;
  }
  100% {
    bottom: 30%;
    top: 50%;
    opacity: 1;
  }
}

@keyframes borderScaleLeft {
  0% {
    opacity: 1;
  }
  100% {
    right: 80%;
    opacity: 1;
  }
}

@keyframes borderScaleRight {
  0% {
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 1;
  }
}

@keyframes wordsTranslate {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}




