@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  box-sizing: border-box; 
  --red: hsl(0, 69%, 65%);
}

*, ::before, ::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 3px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: var(--red);
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  position: relative;
  
  width: 400px;
  height: 400px;
  
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #fff;
  animation: circleScale 2s both;
}

/*.line {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #fff;
  
  opacity: 0;
  animation: lineScale 2s 1400ms;
  
}*/

.line--left {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #fff;
  opacity: 0;
  animation: leftLineScaleHalf 2s 1400ms;
}

.line--right {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #fff;
  opacity: 0;
  animation: rightLineScaleHalf 2s 1400ms;
}

.moments {
  position: relative;
  font-size: 3.25em;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  
  & span {
    display: inline-block;
    opacity: 0;
  }
  
  
  
  &--cover-top {
    content: "";
    position: absolute;
    //width: 100%;
    //height: 100%;
    left: 0;
    right: 0;
    bottom: 49%;
    top: 0;
    background-color: var(--red);
    animation: scaleUpTop 1000ms 3000ms;
    
    opacity: 0;
    
  }
  
  &--cover-bottom {
    content: "";
    position: absolute;
    //width: 100%;
    //height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 49%;
    background-color: var(--red);
    animation: scaleUpBottom 1000ms 3000ms;
    
    opacity: 0;
    
  }
  
}



@keyframes circleScale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  
  15% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

/*@keyframes lineScale {
  0% {
    transform: translateY(-50%);
    opacity: 1;
  }
  
  15% {
    transform: translateY(-50%);
  }
  
  100% {
    transform: translateY(-50%);
    left: 15%;
    right: 15%;
    opacity: 1;
  }
}*/


@keyframes leftLineScaleHalf {
  0% {
    opacity: 1;
  }
  
  50% {
    left: 15%;
    right: 50%;
  }
  
  100% {
    left: 15%;
    right: 85%;
    opacity: 1;
  }
}

@keyframes rightLineScaleHalf {
  0% {
    opacity: 1;
  }
  
  50% {
    left: 50%;
    right: 15%;
  }
  
  100% {
    left: 85%;
    right: 15%;
    opacity: 1;
  }
}


@keyframes scaleUpTop {
  
  0% {
    opacity: 1;
  }
  
  100% {
    bottom: 100%;
    opacity: 1;
    
  }
  
}

@keyframes scaleUpBottom {
  
  0% {
    opacity: 1;
  }
  
  100% {
    top: 100%;
    opacity: 1;
    
  }
  
}












