
:root {
    --first: 80;
    --second: 90;
    --third: 100;
}

.wrap {
    background-color: #000;
    width: 700px;
    height: 450px;
    background-image: linear-gradient(180deg, transparent calc(var(--first) * 1%), white calc(var(--second) * 1%), transparent calc(var(--third) * 1%));
}





