:root {
	box-sizing: border-box;
	--gray-100: hsl(204, 45%, 98%);
  --gray-200: hsl(210, 38%, 95%);
  --gray-300: hsl(214, 32%, 91%);
  --gray-400: hsl(211, 25%, 84%);
  --gray-500: hsl(214, 20%, 69%);
  --gray-600: hsl(216, 15%, 52%);
  --gray-700: hsl(218, 17%, 35%);
  --gray-800: hsl(218, 23%, 23%);
  --gray-900: hsl(220, 26%, 14%);

  --red: hsl(11, 79%, 51%);
  --yellow: hsl(60, 43%, 95%);
  --gray: hsl(0, 0%, 76%);
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Arvo', serif;
  font-size: 100%;
  color: var(--var-gray-700);
  background-image: linear-gradient(120deg, var(--gray-500), var(--gray-700));
  height: 100vh;
}

.inspiration {
    
    color: #333;
    position: absolute;
    top: 8em;
    right: .5em;
    text-decoration: underline;
}

.inspiration:hover, .inspiration:focus {
    color: #000;
}

.grid {
  margin: 2em auto;
  width: 1280px;
  height: 840px;
  background-color: #fff;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  padding: .75rem .75rem 0 1.75rem;
  position: relative;
  border-bottom: 2px solid var(--gray);
}

#arrow {
  fill: var(--red);
  stroke: var(--red);
  stroke-width: 1px;
  stroke-linejoin: round;
}


.cell--one {
  grid-column:  1 / 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem 4rem 0 0;
  position: relative;
}

.wrappy {
  grid-column: 1 / 3;
}

.awards--wrap {
  width: max-content;
  margin-bottom: .2rem;
}

.awards {
  text-transform: uppercase;
  font-size: .84rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .15em;
  border-bottom: 4px solid #222;
  margin-bottom: .1rem;
  padding-bottom: .2rem;
}

.date {
  color: var(--red);
  font-weight: 700;
  font-size: .71rem;
  display: block;
  letter-spacing: .15em;
}

.awards--stamp {
  font-family: 'Barlow Semi Condensed', sans-serif;
  width: 110px;
  height: 110px;
  display: flex;
  width: 320px;
}

.svg--wrap {
  width: 110px;
  height: 110px;
  margin-right: 1rem;
}

.awards--stamp svg {
  width: 100px;
  height: 100px;
}

.text--award {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .2rem;
}

.inner {
  font-size: .57rem;
  letter-spacing: .12rem;
}

.a {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 3rem;
  fill: var(--red);
}

.quote--wrap blockquote {
  color: var(--red);
  text-transform: uppercase;
  font-size: .55rem;
  font-weight: 700;
  width: 85%;
}

.quote--wrap cite {
  font-size: .52rem;
  font-weight: 500;
  display: inline-block;
  transform: translateY(-4px);
}

.list--one--two {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  font-size: .55rem;
}

.main--list {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: .25rem;
}

.item {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .55rem;
  font-weight: 700;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--red);
  color: #fff;
}

.list--heading  {
  text-transform: uppercase;
  color: var(--red);
  font-size: .45rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

.list--para {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: .53rem;
  line-height: 1.4;
  font-weight: 500;
}

/** make sure the border is applied to the <span>, not the <p>..otherwise the effect will not work **/
.box--decoration {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-bottom: 1px solid var(--gray);
}

.list--one {
  width: 75%;
  margin-left: 1rem;
}

.list--two {
  width: 50%;
  margin-top: 1.5rem;
  margin-left: 6rem;
}

.main--heading {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  line-height: .95;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.main--heading span {
  display: block;
  border-bottom: 1px solid var(--gray);
  width: max-content;
}

.main--heading span:first-of-type {
  margin-bottom: .2rem;
}

.main--subheading {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.15rem;
  font-weight: 900;
  float: left;
  margin-right: .75rem;
  padding-bottom: .25rem;
  padding-right: 1.75rem;
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.list--three {
  width: 49%;
  padding: .5rem;
  margin-top: 1.2rem;
  position: relative;
  z-index: 20;
  background-color: #fff;
}

[class*=para--] {
  font-size: .58rem;
  padding: 0 .35rem 1rem .35rem;
  
  border-right: 3px solid var(--gray);
}

.para--three--wrap {
  border-right: none;
}

.para--four--wrap {
  border-left: 3px solid var(--gray);
  border-right: none;
}

.para--one--wrap {
  grid-column: 1 / 2;
  padding-left: 0;
  margin-top: 4.25rem;
}

.para--one--wrap p {
  margin-top: .25rem
}

.para--one--wrap span {
  font-weight: 700;
}

.para--two--wrap {
  grid-column: 2 / 3;
  margin-top: 18.5rem;
}

.para--three--wrap {
  grid-column: 3 / 4;
  margin-top: 15rem;
}

.figure--one {
  width: 100%;
  text-align: right;
  margin: 1.25rem 0 .75rem 0;
}

.image--jimmy {
  width: 55%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .9;
}

.name--jimmy {
  font-size: .5rem;
}

.para--four--wrap {
  grid-column: 4 / 5;
  margin-top: 20rem;
  font-size: .42rem;
}

.icon--one {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  grid-column-gap: .7rem;

}

.no--white--space {
  white-space: nowrap;
}

.inventor, .cost, .company, .market {
  text-transform: uppercase;
  margin-bottom: .1rem;
}

.inventor--name, .cost--name, .company--name {
  font-weight: 700;
}

.cost {
  text-transform: uppercase;
}

.cost--name {
  font-weight: 700;
}

.cost span {
  display: block;
}

.cell--wrap--one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 1px dotted #000;
}

.cell--wrap--two {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px dotted #000;
  padding-bottom: .25rem;
}

.cell--wrap--three {
  margin-top: .25rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.cell--wrap--four {
  margin-top: .25rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.market--name {
  display: flex;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gray);
  margin-right: 2px;
}

.dot--black {
  background-color: #000;
}

.lines--pattern--wrap {
  position: absolute;
  z-index: 0;
  width: 480px;
  height: 150px;
  top: 230px;
  left: 80px;
}

.svg--pattern {
  width: 100%;
  height: 100%;
}

.plane {
  position: absolute;
  top: 200px;
  z-index: 30;
}

.photographer {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: .5rem;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: 0rem;
  right: 2.5rem;
  writing-mode: vertical-lr;
	transform: rotate(180deg);
  z-index: 40;
}


.cell--two {
  grid-column: 2 / 3;
  background-color: var(--yellow);
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  padding: 1.5rem 1.5rem 1rem 1rem;
  position: relative;
  
}

.awards--wrap--two {
  grid-column: 3 / 4;
  text-align: right;
  justify-self: end;
}

.awards--stamp--two {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: auto;
}

.main--heading--wrap--two {
  grid-column: 2 / 3;
  padding-left: .5rem;
}

.main--heading--two {
  margin-bottom: .3rem;
  margin-top: 1.25rem;
  position: relative;
}

.main--heading--two::after {
  position: absolute;
  content: "";
  height: 505px;
  width: 2px;
  background-color: var(--gray);
  top: 0;
  left: -.5rem;
}



.main--subheading span {
  display: block;
  line-height: 1;
}

.img--cars {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  width: 100%;
  height: 105px;
  object-fit: cover;
}

.icon--two {
  grid-column: 1 / 2;
  justify-self: end;
  font-size: .42rem;
  grid-column: 1 / 2;
  width: max-content;
  margin-top: 3rem;
  padding-right: .25rem;
}

.market--name {
  text-align: right;
}

.company--name--two span,
.market span {
  display: block;
}

.cell-wrap--border {
  border-bottom: 1px dotted #000;
  padding-bottom: .25rem;
  margin-bottom: .25rem;
}

.pb {
  padding-bottom: .25rem;
}

.how {
  margin-top: .65rem;
  padding-left: .5rem;
}

.how h3 {
  color: var(--red);
  font-size: .9rem;
  font-weight: 900;
  width: max-content;
  border-bottom: 3px solid #333;
  margin-bottom: .7rem;
}

.item--grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content;
}

.item--grid--num--one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;
}

.item--grid--num--two {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: start;
}

.item--grid--num--three {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: start;
}

.item--grid--para--one {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-bottom: .35rem;
  font-size: .53rem;
  border: 0;
  padding-right: 5px;
}

.item--grid--para--two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-bottom: .35rem;
  font-size: .53rem;
  border: 0;
  padding-right: 5px;
}

.item--grid--para--three {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-bottom: .35rem;
  font-size: .53rem;
  border: 0;
  padding-right: 5px;
}

.lines--pattern--wrap--two {
  height: 42px;
  margin-bottom: .65rem;
}

.two--guys {
  display: flex;
  align-items: center;
  padding-left: .5rem;
}

.two--guys img {
  width: 98%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .9;
}

.two--guys figcaption {
  font-size: .5rem;
}

.plus {
  width: 50px;
  height: 26px;
  padding-left: .75rem;
}





.img--thermal {
  position: absolute;
  top: 45px;
  right: 0rem;
  width: 270px;
  
}





