:root {
	box-sizing: border-box;  
    --first: 40;
    --second: 50;
    --third: 60;
    --fourth: -10;
    --fifth: 0;
    --sixth: 10;
    --opacity: .4;
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-wrap {
    position: relative;
    width: 900px;
    height: 545px;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.first-quote {
    font-family: 'Kelly Slab', cursive;
    background-color: goldenrod;
    width: 900px;
    height: 545px;
    position: relative;
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.lquote, .rquote {
    font-family: sans-serif;
    position: absolute;
    font-size: 12em;
    line-height: .8;
}

.lquote {
    left: 0;
    top: 0;
}

.rquote {
    right: 0;
    bottom: -.52em;
}

.not {
   display: block;
    font-size: 25em;
    line-height: .7;
}

.conventional {
    display: block;
    font-size: 7em;
    letter-spacing: -.04em;
}

.never {
    position: absolute;
    right: -80%;
    top: 18%;
    letter-spacing: -.04em;
    font-family: 'Kelly Slab', cursive;
    font-size: 14em;
    text-transform: uppercase;
    line-height: .8;
}

.boring {
    position: absolute;
    left: 10.2%;
    bottom: -65%;
    font-family: 'Kelly Slab', cursive;
    font-size: 13em;
    text-transform: uppercase;
    line-height: .8;
    letter-spacing: -.04em;
    
    opacity: 0;
}


/* THE INTERSECTON OF RACE SPORT CULTURE */
.container-wrap--two {
    position: relative;
    width: 900px;
    height: 545px;
    display: none;
    
}

.container-wrap--two::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: hsl(350, 61%, 62%);
    left: 40%;
    right: 40%;
}

.container-wrap--two::after {
    content: "";
    position: absolute;
    width: 60%;
    right: 0;
    background-color: hsla(55, 90%, 57%, .8); 
    
    top: 35%;
    bottom: 35%;
}

/* work on this and how to get it to not effect the text */
/*.container--two {
   mix-blend-mode: color-burn;
}*/

.second-quote {
    position: relative;
    z-index: 10;
    
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    width: 900px;
    height: 545px;
    position: relative;
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    justify-content: center;
} 

.center--two {
    font-size: 2.5em;
    line-height: 1.05;
    text-align: center;
    position: relative;
}

.intersection {
    display: block;
    
    transform: scaleY(0);
    transform-origin: 50% 100%;
}

.race {
    display: block;
    transform: scaleY(0);
    transform-origin: 50% 100%;
}

/* THE UNDEFEATED PRESENTS.. */
.container-wrap--three {
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    width: 900px;
    height: 545px;
    display: none;
    background-color: #000;
    color: yellow;
}

.container--three {
    position: absolute;
    width: 100%;
    height: 100%;
}

.third-quote {
    position: relative;
    z-index: 10;
    font-size: 1.7em;
    width: 900px;
    height: 545px;
    position: relative;
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    justify-content: center;
} 

.presents {
   display: none; 
}

.wrappy {
    display: none;
    text-align: center;
}

.a {
   display: block;
}

.special {
   display: block;
}

.of {
    display: none;
}

.roundtable {
    display: none;
    font-size: 1.6em;
    color: #fff;
    
    position: relative;
    z-index: 5000;
}

.container-wrap--three::before, 
.container-wrap--three::after {
    position: absolute;
    content: "";
    background-color: #fff;
    box-shadow: 0 0 1px 1px #fff;
    height: 3px;
    z-index: 99;
    opacity: 0;
}

.container-wrap--three::after {
    bottom: 0;
    right: 0;
    left: 100%; 
}

.container-wrap--three::before {  
    top: 0;
    right: 100%;
    left: 0;
}

.container--three::before, 
.container--three::after {
    position: absolute;
    content: "";
    width: 3px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #fff;
    opacity: 0;
    z-index: 100;
}

.container--three::before {
    left: 0;
    bottom: 0;
    top: 100%;  
}

.container--three::after {
    right: 0;
    top: 0;
    bottom: 100%;
}
    

.container-wrap--three.try {
    background-color: #000 !important;
    background-image: none;
    position: relative;
    
    z-index: 1000;
}

.container-wrap--three.try.has--gradient {
    background-image: linear-gradient(180deg, transparent calc(var(--first) * 1%), rgba(255,255,255, .7) calc(var(--second) * 1%), transparent calc(var(--third) * 1%));
}

.container-wrap--three.try::after {
    background-image: linear-gradient(10deg, transparent calc(var(--fourth) * 1%), rgba(255,255,255, var(--opacity)) calc(var(--fifth) * 1%), transparent calc(var(--sixth) * 1%));
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    
    /* undo styles from the original ::after element */
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
}

.inspiration {
    color: orangered;
    display: block;
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 25888;
    text-decoration: underline;
}
