:root {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-wrap {
    position: relative;
    width: 900px;
    height: 545px;
    
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    visibility: hidden;
}

.first-quote {
    font-family: 'Kelly Slab', cursive;
    background-color: goldenrod;
    width: 900px;
    height: 545px;
    position: relative;
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden; 
}

.center {
    
}

.lquote, .rquote {
    font-family: sans-serif;
    position: absolute;
    font-size: 12em;
    line-height: .8;
}

.lquote {
    left: 0;
    top: 0;
}

.rquote {
    right: 0;
    bottom: -.52em;
}

.not {
   display: block;
    font-size: 25em;
    line-height: .7;
}

.conventional {
    display: block;
    font-size: 7em;
    letter-spacing: -.04em;
}

.never {
    position: absolute;
    right: -80%;
    top: 18%;
    
    letter-spacing: -.04em;
    font-family: 'Kelly Slab', cursive;
    font-size: 14em;
    text-transform: uppercase;
    line-height: .8;
}

.boring {
    position: absolute;
    left: 10.2%;
    bottom: -65%;
    
    font-family: 'Kelly Slab', cursive;
    font-size: 13em;
    text-transform: uppercase;
    line-height: .8;
    letter-spacing: -.04em;
    
    opacity: 0;
}

/*.period {
    display: inline-block;
    transform: translateX(-5px);
}*/

/* THE INTERSECTON OF RACE SPORT CULTURE */
.container-wrap--two {
    position: relative;
    width: 900px;
    height: 545px;
    
    display: none;
    
}

.container-wrap--two::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: hsl(350, 61%, 62%);
    left: 40%;
    right: 40%;
}

.container-wrap--two::after {
    content: "";
    position: absolute;
    width: 60%;
    right: 0;
    background-color: hsla(55, 90%, 57%, .8); 
    
    top: 35%;
    bottom: 35%;
}

/* work on this and how to get it to not effect the text
.container--two {
   mix-blend-mode: saturation;
}
*/

.second-quote {
    position: relative;
    z-index: 10;
    
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    width: 900px;
    height: 545px;
    position: relative;
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    justify-content: center;
} 

.center--two {
    font-size: 2.5em;
    line-height: 1.05;
    text-align: center;

    position: relative;
    
}

.intersection {
    display: block;
    
    transform: scaleY(0);
    transform-origin: 50% 100%;
}

.race {
    display: block;
    
    transform: scaleY(0);
    transform-origin: 50% 100%;
}

/* THE UNDEFEATED PRESENTS.. */
.container-wrap--three {
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    width: 900px;
    height: 545px;
    
    display: none;
    background-color: #000;
    
    color: yellow;
}

.third-quote {
    position: relative;
    z-index: 10;
    font-size: 1.7em;

    width: 900px;
    height: 545px;
    position: relative;
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    justify-content: center;
} 

.undefeated {
    
}

.presents {
   display: none; 
}

.wrappy {
    display: none;
    text-align: center;
}

.a {
   display: block;
}

.special {
   display: block;
}

.of {
    display: none;
}



