
:root {
	box-sizing: border-box;
	--gray-100: hsl(204, 45%, 98%);
  --gray-200: hsl(210, 38%, 95%);
  --gray-300: hsl(214, 32%, 91%);
  --gray-400: hsl(211, 25%, 84%);
  --gray-500: hsl(214, 20%, 69%);
  --gray-600: hsl(216, 15%, 52%);
  --gray-700: hsl(218, 17%, 35%);
  --gray-800: hsl(218, 23%, 23%);
  --gray-900: hsl(220, 26%, 14%);
  --pink: hsl(323, 85%, 63%);
  --pink-500: hsl(323, 60%, 50%);
}

*, ::before, ::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
	outline: none;
}

body {
  font-size: 100%;
  font-family: 'Fira Sans', sans-serif;
  width: 1280px;
  height: 875px;
  margin: 2em auto;
  color: var(--gray-700);
  background-color: var(--pink);
  font-family: 'Heebo', sans-serif;
  position: relative;
}

.inspiration {
  position: absolute;
  top: 1em;
  left: 8em;
  transition: all 300ms ease-in;
  font-size: .85em;
  color: hsl(25, 66%, 43%);
  z-index: 19500;
}

.inspiration:hover {
  color: hsl(25, 66%, 23%);
}

.grid {
  background-image: linear-gradient(135deg, #fff 0%, #fff 32%, var(--pink-500) 32%, var(--pink-500) 65%, #fff 65%, #fff 100%);
  overflow: hidden;
  height: 850px; 
  position: relative;
}

.grid::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
  z-index: 100;
  left: 50%;
}

.header {
  width: 22%;
  margin: 4.5em 0 0 3.5em;
  padding-left: 2em;
  padding-top: 1.5em;
  padding-bottom: 9em;
  border-left: 3px solid var(--gray-800);
}

.header h3 {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: .5em;
}

.header h3 span:last-of-type {
  color: var(--pink-500);
}

.header p {
  font-size: .8em;
}

.header p:first-of-type {
  margin-bottom: 1.2em;
}

.header p:first-of-type span {
  padding: 1px 3px;
  line-height: 1.7em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: var(--pink-500);
  color: #fff;
}

.header p:last-of-type {
  width: 74%;
}

.polyline-wrap {
  width: 100px;
  height: 275px;
  position: absolute;
  top: 0;
  left: 24%;
}

.polyline-wrap svg, .polyline-wrap--two svg {
  width: 100%;
  height: 100%;
}

.polyline-wrap polyline {
  fill: none;
  stroke: var(--pink-500);
  stroke-width: 3px;
}

.polyline-wrap--two {
  width: 550px;
  height: 680px;
  position: absolute;
  top: 0;
  left: 0;
}

.polyline-wrap--two svg {
  width: 100%;
  height: 100%;
}

.polyline-wrap--two polyline {
  fill: none;
  stroke: #333;
  stroke-width: 5px;
}

.dots {
  width: 70px;
  height: 100px;
  position: absolute;
  top: 1.5em;
  left: 32%;
}

.dots svg {
  width: 100%;
  height: 100%;
}

circle {
  fill: var(--pink-500);
}

.dots--large {
  transform: rotate(90deg);
  width: 120px;
  height: 150px;
  position: absolute;
  bottom: .8%;
  right: 35%;
  top: auto;
  left: auto;
}

.lorem--one {
  width: 17%;
  color: #fff;
  text-align: right;
  margin-left: 375px;
  margin-top: -160px;
}

.lorem--one h3 {
  text-transform: uppercase;
}

.lorem--one p {
  font-size: .8em;
}

.steps {
  width: 330px;
  height: 200px;
  margin-left: 130px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.steps .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid black;
  background-color: #fff;
  transform: scale(1.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.15;
}

.steps .circle h4 {
  text-transform: uppercase;
  color: var(--pink-500);
  font-size: .8em;
  border-bottom: 2px solid black;
  margin-bottom: .3em;
  font-weight: 800;
}

.steps .circle p {
  font-size: .5em;
  width: 60px;
  text-align: center; 
}

.steps .circle:first-of-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
}

.steps .circle:first-of-type::before, 
.steps .circle:nth-of-type(3)::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 50px;
  background-color: black;
  top: 5px;
  right: 0;
  transform-origin: 0% 0%;
  transform: rotate(-140deg);
}

.steps .circle:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

.steps .circle:nth-of-type(2)::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 50px;
  background-color: black;
  bottom: 10px;
  right: 0;
  transform-origin: 0% 100%;
  transform: rotate(140deg);
} 

.steps .circle:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
}

.steps .circle:last-of-type {
  grid-column: 4 / 5;
}

.triangle-lines {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 9%;
  bottom: -19%;
  right: 0;
  z-index: 200;
  background-image: repeating-linear-gradient(135deg, white, white 1px, var(--pink-500) 1px, var(--pink-500) 17px);
  transform: rotate(45deg);
}

.bar--one {
  position: absolute;
  height: 200px;
  width: 120px;
  background-color: #000;
  top: 0;
  left: 49%;
  transform: skewX(-45deg);
}

.bar--one::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  top: 37%;
  left: 23%;
}

.triangle-lines--two {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -9.5%;
  right: 5%;
  left: auto;
  bottom: auto;
  z-index: 200;
  background-image: repeating-linear-gradient(135deg, black, black 2px, var(--pink-500) 2px, var(--pink-500) 17px);
  transform: rotate(45deg);
}

h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 3.75em;
  position: absolute;
  top: 120px;
  right: 280px;
  line-height: .85;
  font-weight: 500;
}

h1 span {
  display: block;
}

.bar--two {
  position: absolute;
  height: 350px;
  width: 200px;
  background-color: #000;
  top: 42%;
  left: 48%;
  transform: skewX(-45deg);
}

.bar--two::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 107%;
  background-color: #fff;
  top: -1.5%;
  left: 70%;
}

.triangle-lines--three {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 200;
  background-image: repeating-linear-gradient(135deg, white, white 1px, transparent 1px, transparent 12px);
  top: 48.5%;
  left: 55.5%;
  transform: rotate(45deg);
}

.bar--three {
  position: absolute;
  height: 250px;
  width: 120px;
  background-color: #000;
  top: 11%;
  left: 94%;
  transform: skewX(-45deg);
}

.bar--three::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 80%;
  background-color: var(--pink-500);
  top: 8%;
  left: 50%;
}

.footer {
  position: absolute;
  width: 20%;
  right: 5%;
  bottom: 8%;
}

.footer--grid {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto auto;
  grid-gap: .5em .75em;
  margin-bottom: 1.5em;
}

.footer h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #222;
  line-height: 1.05;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer h3 span:first-of-type {
  display: block;
}

.footer h3 span:last-of-type {
  display: block;
}

.footer p {
  font-size: .8em;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.footer--icon {
  grid-template-columns: 2 / 3;
  grid-row: 1 / 2;
}

.footer svg {
  fill: var(--pink-500);
  width: 45px;
  height: 45px;
}

div.shadow--one, div.shadow--two {
  content: "";
  position: absolute;
  transform: rotate(-2deg);
  height: 2%;
  width: 35%;
  bottom: 57px;
  left: 12px;
  box-shadow: 0 2.1em 1.5em rgba(0,0,0,1);
  z-index: -1;
}

div.shadow--two {
  transform: rotate(2deg);
  right: 12px;
  left: auto;
}




