:root {
	box-sizing: border-box;
	
	--gray-100: hsl(204, 45%, 98%);
    --gray-200: hsl(210, 38%, 95%);
    --gray-300: hsl(214, 32%, 91%);
    --gray-400: hsl(211, 25%, 84%);
    --gray-500: hsl(214, 20%, 69%);
    --gray-600: hsl(216, 15%, 52%);
    --gray-700: hsl(218, 17%, 35%);
    --gray-800: hsl(218, 23%, 23%);
    --gray-900: hsl(220, 26%, 14%);
    --red-purple: hsl(356, 100%, 16%);
  --brown-gray: hsl(27, 10%, 83%);
  --brown-gray-700: hsl(35, 13%, 74%);
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
  font-size: 100%;
  color: var(--var-gray-700);
  background-image: linear-gradient(120deg, var(--gray-500), var(--gray-700));
  height: 100vh;
  font-family: 'Source Serif Pro', serif;
  /* font-family: 'Roboto', sans-serif; */
}

.inspiration {
    
    color: #333;
    position: absolute;
    top: 8em;
    right: .5em;
    text-decoration: underline;
}

.inspiration:hover, .inspiration:focus {
    color: #000;
}

.grid {
  width: 600px;
  height: 890px;
  background-color: #fff; 
  margin: 2em auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  grid-template-rows: 90px 330px 1fr;
  position: relative;
}

.grid::after {
  content: "";
  position: absolute;
  top: 1.8rem;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 1.8rem;
  
  border: 1px solid var(--brown-gray);
  border-top: 0;
  z-index: 0;
}

.heading {
  background-color: var(--red-purple);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 61px, 50% 100%, 0 61px);
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.2rem;
}

.heading h3 {
  font-size: .7rem;
  font-weight: 500;
  background-color: var(--brown-gray);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: .2rem;
  padding-top: 2px;
}

.matchup {
  color: #fff;
  font-size: .55rem;
}

.bg {
  margin-top: 28px;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(255,255,255,.6)), url(../img/court.jpg);
  background-size: 155%;
  background-position: 50% 50%;
  clip-path: polygon(0% 0%, 50% 77px, 100% 0%, 100% 100%, 50% 300px, 0% 100%);
  position: relative;
}

.xparent {
  position: absolute;
  top: 84px;
  left: 65px;
  z-index: 5000;
}

.img-tipoff {
  width: 425px;
  height: auto;
  display: block;
}

.circle--svg {
  fill: none;
}

.circle--svg text {
  fill: #fff;
  font-size: 8.5px;
}


.main {
  grid-column: 1 / 4;
  height: 102.5%;
  transform: translateY(-16.2%);
  clip-path: polygon(0% 100%, 0% 91px, 50% 0%, 100% 91px, 100% 100%);
   display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
}

.panel--one {
  grid-column: 1 / 2;
  background-color: var(--brown-gray);
  position: relative;
}

.panel .title {
  font-family: 'Roboto', sans-serif;
  margin: 6.5rem 0 1rem 0;
  font-size: .55rem;
  text-transform: uppercase;
  background-color: var(--brown-gray-700);
  margin-left: 1.8rem;
  padding: .2rem .15rem 0.10rem .15rem;
}

.svg--icon-wrap {
  position: absolute;
  top: 104px;
  left: 13px;
  
}

.panel span {
  display: block;
}

.panel h4 span:first-of-type {
  font-weight: 300;
}

.panel h4 span:last-of-type {
  color: var(--red-purple)
}

.players {
  margin: .5rem .5rem 0 0;
  font-size: .45rem;
}

.players h5 {
  font-size: .52rem;
  text-transform: uppercase;
  color: var(--red-purple);
  position: relative;
  margin-bottom: 3px;
  padding-top: 4px;
}

.players h5::after {
  position: absolute;
  content: "";
  background-color: var(--red-purple);
  height: 1px;
  bottom: 0;
  left: 24px;
  width: 79px;
}

.player {
  text-align: right;
  padding-top: 4px
}

.img-player--one {
  float: right;
  width: 70px;
  shape-outside: polygon(37.14% -8.04%, -10% 44.38%, 72.85% 110.83%, 100% 90%);
  margin-left: .2rem;
}

.img-player--two {
  float: left;
  width: 75px;
  shape-outside: polygon(56.26% 37.33%, -4.54% 50.75%, 93.34% 108.44%, 67.22% 68.51%);
  margin-left: .25rem;
}

.chelsea {
  text-align: left;
}

.chelsea h5 {
  margin-top: 3rem;
  white-space: nowrap
}

.chelsea h5::after {
  left: 39px;
  width: 83px;
}

.img-player--three {
  float: right;
  width: 85px;
  shape-outside: polygon(46.21% -4.75%, 8.14% 47.67%, 32.03% 105.9%, 110.2% 45.63%);
  margin-left: .2rem;
}

.annette {
  text-align: right;
}

.annette h5 {
  margin-top: 1.1rem;
}

.annette h5::after {
  left: 33px;
  width: 66px;
}


.panel--two {
  grid-column: 2 / 3;
  background-color: var(--red-purple);
}

.svg--up {
  width: 211px;
  height: 240px;
}

.upintheair {
  font-size: 6.3rem;
}

.in {
  font-size: 1.4rem;
}


.panel--three {
  grid-column: 3 / 4;
  background-color: var(--brown-gray);
  position: relative;
}

.panel--three .title {
  margin-left: auto;
  margin-right: 1.8rem;
  text-align: right;
  padding-right: .25rem;
}

.panel--three .svg--icon-wrap {
  left: auto;
  right: 13px;
  transform: rotate(180deg) translateY(5px);
}


