:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
}

/***************** HEADER *****************/
.header {
    background-color: #fff;
}

.header__wrap {
    padding: 0 calc(50% - 700px);
    display: flex;
    align-items: center;
}

.header__social {
    flex: 1;
    display: flex;
    margin-left: 1.5em;
}

.header__anch {
    font-size: 1.5em;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    background-color: #000;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__anch.in {
    color: rgb(0, 123, 182);
}

.header__anch + .header__anch {
    margin-left: .3em;
}

.header__logo-box {
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    display: block;
    width: 8em;
    height: auto;
    cursor: pointer;
}

.header__search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5em;
}

.header__input-text, .header__button {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    border: none;
}

.header__input-text {
    padding: .5em;
    border-radius: .3125em 0 0 .3125em;
    flex: 1;
    max-width: 15em;
    background-color: rgb(237, 235, 225);
    outline: none;
}

.header__input-text:focus {
    box-shadow: inset 0 0 3px rgba(0,0,0,.6);
}

.header__button {
    padding: .3em .6em;
    border-radius: 0 .3125em .3125em 0;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,.7), #000);
    cursor: pointer;
}


/***************** NAV *****************/
/* FIX WIDTH AT 1400PX+ TO ALIGN WITH OTHER SECTS*/
.main-nav {
    padding: 1.2em calc(50% - 700px);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: rgb(20, 50, 90);
}

.main-nav__list {
    display: flex;
    padding: 0 1.5em;
}

.main-nav__item:last-child {
    margin-left: auto;
}

.main-nav__item:not(:last-of-type):not(:first-of-type) {
    margin-left: .5em;
}

.main-nav__anchor {
    font-size: .9em;
    display: block;
    padding: 1em 1.5em;
    color: #fff;
    background-color: #761d08;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 300ms ease-out;
}

.main-nav__anchor:hover {
    color: #761d08;
    background-color: #fff;
}

.main-nav__item:last-child a{
    color: #761d08;
    background-color: #fff;
}

.main-nav__item:last-child a:hover {
    color: #fff;
    background-color: #761d08;
}

/*********** CARDS *********/

.cards-wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.2em 1.5em;
}

.cards { 
    display: flex;
    flex-wrap: wrap;
    margin: 3em -1em;
}

.cards__hdg {
    flex: 0 0 100%;
    font-size: 2.5em;
    margin-bottom: .5em;
    text-transform: uppercase;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(20, 50, 90);
}

.cards__hdg::before, .cards__hdg::after {
    content: "";
    height: .062em;
    width: 1em;
    background-color: currentColor;
    display: block;
    margin: 0 1rem;
}

.card {
    flex: 1 1 21em;
    margin: 1em;
    background-color: rgba(255,255,255,.8);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    border: .3125em solid white;
}

.card__img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    order: -1;
}

.card__hdg {
    margin: 1rem;
    color: rgb(20, 50, 90);
}

.card p {
    padding: 0 1em 1em 1em;
    margin-bottom: 2em;
}

.card__btn {
    margin: auto 0 1em 0; 
    align-self: center;
    padding: .5em 1.5em;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-image: linear-gradient(rgb(25, 56, 100), rgb(19, 66, 113));
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    transform: all 200ms ease-out;
}

.card__btn:active {
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    transform: translate(1px, 1px);
}

.card__btn:focus {
    outline: none;
    
}

/************* FORM ****************/
/***** SIDEBAR *****/
.form-main-wrap {
    max-width: 1400px;
    margin: 3em auto;
    padding: 0 1.5em;
}

.form-intwrap {
    display: flex;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(20, 50, 90);
    padding: 1em;
    color: #fff;
    border-radius: 3px 0 0 3px;
}

.form__list {
    padding-top: 1em;
    text-transform: uppercase;
}

.form__item {
   margin-bottom: .6em; 
}

.form__para {
    margin-bottom: 1em;
}

/****** MAIN FORM*******/
.form-wrap {
    flex: 5;
    background-color: rgba(255,255,255,.2);
    border-radius: 0 3px 3px 0;
}

.form {
    width: 95%;
    margin: 0 auto;
}

.form__hdg {
    margin: 2em 0;
    text-align: center;
    font-size: 1.8em;
    color: #14325a;
}

.form__field-wrap {
    display: flex;
    flex-wrap: wrap;
}

.form__field {
    margin-bottom: 1em;
    flex: 1 1 25em;
    margin-right: 1em;
    display: flex;
    align-items: center;
}

label {
    margin-bottom: .3em;
    width: 6em;
    text-align: right;
    padding-right: .5em;
}

.form__field input:not([type="submit"]), select, textarea {
    width: 100%;
    height: 2.5em;
    padding: .7em .5em;
    border: none;
    border-radius: 0 3px 3px 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.form__field input:not([type="submit"]):focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: inset 0 0 .3125em rgba(0,0,0,.6);
}

.form__field-prefixed {
    display: flex;
    flex: 1 1 75%;
}

.form__field-prefix {
    flex: 0 0 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 50, 90);
    border-radius: 3px 0 0 3px;
    transition: color 300ms ease-out;
    color: grey;
}

.form__field-prefix.js-focus {
    color: #fff;
}

.full-width {
    flex: 1 1 100%;
}

.form__textarea {
    height: 8em;  
}

.form__submit {
    border: none;
    border-radius: 2px;
    margin: 2em auto;
    padding: .7em 1.5em;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(25, 56, 100), rgb(19, 66, 113));
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    transition: all 200ms ease-out;
}

.form__submit:active {
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    transform: translate(1px, 1px);
}

.form__submit:focus {
    outline: none;
}

/************* FOOTER *************/

.footer {
    background-color: #000;
    color: #ccc;
}

.footer-wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 3em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
}

.footer__item:not(:last-of-type) {
    margin-right: .8em;
}

.footer__anchor {
    color: inherit;
    padding-bottom: .3em;
    border-bottom: 1px solid transparent;
    transition: border-bottom 300ms ease-out;
}

.footer__anchor:hover {
    border-bottom: 1px solid currentColor;
}

.footer__social {
    display: flex;
    order: 2;
}

.footer__anch {
    color: inherit;
    font-size: 1.4em;
    transition: color 300ms ease-out;
}

.footer__anch:hover {
    color: #fff;
}

.footer__anch:not(:last-of-type) {
    margin-right: .7em;
}

.footer__para {
    margin-left: -6.875em;
}


@media (max-width: 760px)  {
    body {
        font-size: 90%;
    }
    
    /*  HEADER  */
    .header__wrap {
        flex-wrap: wrap;
    }
    
    .header__search {
        flex: 0 0 100%;
        justify-content: center;
        margin: 1em 0;
        
    }
    
    .header__input-text {
        max-width: 60%;
    }
    
    .header__logo-box {
        order: -1;
        margin-left: 0;
    }
    
    .header__social {
        flex: 0 1 auto;
        margin-right: 1.5em;
    }
    
    .main-nav__list {
        flex-wrap: wrap;
    }

    .main-nav__item:last-child {
        margin-left: .5em;
    }
    
    .main-nav__item {
        flex: 1 1 calc(50% - 1em);
        margin: .25em .5em;
        text-align: center;
    }
    
    /*FORM*/
    .form-column {
        border-radius: 3px 3px 0 0;
        flex-direction: row;
    }
    
    .form-wrap {
        border-radius: 0 0 3px 3px;
    }
    
    .form-intwrap {
        flex-direction: column;
    }
    
    .form__para {
        padding-top: 1em;
    }
    
    /*FOOTER*/
    .footer-wrap {
        flex-wrap: wrap;
    }
    
    .footer__list {
        flex: 0 0 100%;
        justify-content: space-between;
        margin-bottom: 1.5em;
    }
    
    .footer__anch:not(:last-of-type) {
        margin-right: 1em;
    }
    
    .footer__para {
        margin-left: 0
    }
    
    .footer__social {
        flex: 0 0 50%;
        justify-content: flex-end;
    }
}


@media (max-width: 550px) {
    
    body {
        font-size: 80%;
    }
    
    .cards__hdg {
        font-size: 2em;
        flex: 0 0 70%;
        margin: 0 auto
    }
    
    /*** FORM ****/
    .form__field {
        flex-wrap: wrap;
        
    }

    label {
        text-align: left;
        
    }
    
}








