:root {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
    background-color: #000;
    max-width: 1920px;
    margin: 0 auto;
}

.inspiration {
    color: #333;
    position: absolute;
    top: 8em;
    right: .5em;
    text-decoration: underline;
}

.inspiration:hover, .inspiration:focus {
    color: #000;
}

.venus__grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto auto auto auto auto auto;
   height: 100vh;
    
   max-width: 1600px;
    
    position: relative;
}

.venus__tagline {
    font-family: sans-serif;
    grid-column: 1 / 3;
    background-color: #fff;
    color: gray;
    padding: 2em;
}

.venus__summary-wrap {
    grid-column: 1 / 3;
    color: #fff;
    padding: 1em;
}

.venus__summary {
    
    font-size: 1.4em;
}

.venus__author {
    font-family: sans-serif;
    
}

.venus__backdrop {
    height: 110px;
    background: #222;
    overflow: hidden;
    position: relative;
}

.venus__pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.venus__heading {
    font-family: sans-serif;
    font-size: 120px;
    width: 100%;
    height: 100%;
    line-height: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    text-transform: uppercase;
    mix-blend-mode: multiply;
    background-color: #000;
    letter-spacing: -5px
}

.venus__heading-two {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4em;
    line-height: 1;
    color: darkorange;
    letter-spacing: -2px;
}

.venus__para-wrap {
    grid-column: 1 / 3;
    background-color: #fff;
    grid-row: 3 / 7;
    padding: 2.5em;
    font-size: .8em;
    column-count: 2;
    
    position: relative;
}

.venus__para-wrap p:first-of-type::first-line {
    font-weight: bold;
    
    /* this is causing issues - due to using multicolumn layout?
    text-transform: uppercase; */
}

.venus__para-wrap p:not(:first-of-type) {
    text-indent: 1em;
}

.venus__first-letter {
    color: darkorange;
    opacity: .5;
    font-size: 8em;
    font-family: sans-serif;
    
    position: absolute;
    left: 0;
    top: .05em
}

.venus__para-hdg {
    color: orange;
    font-size: 1.4em;
    margin-top: .5em
}


.venus__border-wrap {
    color: #000;
    background-color: #fff;
    grid-column: 1 / 3;
}

.venus__image {
    grid-column: 3 / 7;
    
    /* changed -1 to 8 to go all the way to bottom of viewport */
    grid-row: 1 / 8;
    /*background-image: url('../img/venus.jpg'); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    
    background-color: red;
    
    align-self: center;
    justify-self: center;
}

.venus__bgpic {
    width: 100%;
    height: auto;
}

.venus__caption {
    color: #fff;
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 150px;
    font-size: .8em;
}

@media screen and (max-width: 1380px) {
    
    .venus__backdrop {
        height: 100px;
    }
    
    .venus__heading {
        font-size: 98px;
    }
    
}


