:root {
        box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    max-width: 1280px;
    margin: 0 auto;
    font-size: .65em;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.4), rgba(255,255,255,.9) 150px), url(../img/bg.jpg); 
    background-repeat: repeat-x;
}

ol {
    padding: 0 2em;
}

.grid {
    margin: 6em 0;
    display: grid;
    grid-template-areas: 
        ". . hero hero hero hero hero . . ."
        ". . hero hero hero hero hero imgtwo imgtwo lineslight"
        "lines . hero hero hero hero hero parathree parathree ad"
        ". paraone paraone paraone paraone paratwo paratwo parathree parathree ad"
        ". paraone paraone paraone paraone films films films films .";
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: .75fr .75fr repeat(2, 1fr) .95fr;
    grid-gap: 3em;
}

/***** 3 VERTICAL LINES *******/
.lines {
    width: 3em;
    height: 5em;
    position: relative;
    grid-area: lines;
}

.line, .lines::before, .lines::after {
    position: absolute;
    content: "";
    width: 1em;
    height: 7em;
    background-color: #bf3838;
}

.lines::before {
    left: 100%
}

.lines::after {
    left: 50%;
    top: 0;
}

.lines--light {
    width: 3em;
    height: 5em;
    position: relative;
}

.line--light, .lines--light::before, .lines--light::after {
    position: absolute;
    content: "";
    width: 1em;
    height: 7em;
    background-color: #535050;
    opacity: .2;
}

.lines--light::before {
    left: 100%
}

.lines--light::after {
    left: 50%;
    top: 0;
}

.para-one::first-letter {
    font-size: 12em;
    line-height: .7;
}

.para-one {
    margin-top: -8em;
}

.hero-image {
    grid-area: hero;
    width: calc(100% + 5em);
    transform: translateX(-5em);
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
}

.small-image {
    grid-area: imgtwo;
    width: 100%;
    border: 2px solid black;
}

[class^="para-"] {
    text-indent: 2em;
}

.para-one {
    text-indent: 0;
}

.para-wrap--one {
    grid-area: paraone;
    column-width: 18em;
    column-gap: 3em;
}

.para-five {
    grid-area: paratwo;    
}

.para-wrap--two {
    grid-area: parathree;
}

/***** FILMOGRAPHY *******/
.films {
    background-color: goldenrod;
    border-radius: 10px 10px 0 0;
    column-count: 3;
    grid-area: films;
    padding: 
}

.films h4 {
    font-size: 1.2em;
    display: inline-block;
    background-color: #fff;
    padding: .2em 1.5em .6em .4em;
    font-weight: 700;
    border-radius: 0 0 12px 0;
}

.films .title {
    font-weight: 700;
}

.films li {
    padding-top: .25em
}

.ad {
    grid-area: ad;
    position: relative;
}

.ad::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: gray;
    left: -16px;
}

.ad-image {
    width: 100%;
    border: 1px solid gray;
}

.ad h4 {
    margin: .4em 0;
    padding-bottom: .5em;
    text-transform: uppercase;
    line-height: 1;
    font-family: Arial;
    font-size: .9em;
    color: #d68f0d;
    position: relative;
}

.ad h4::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: gray;
    left: 0;
    bottom: 0;
}

.ad p {
    font-size: .85em;
}

.lines--light {
    grid-area: lineslight;
    justify-self: end;
    align-self: center;
}