@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  box-sizing: border-box; 
  --red: hsl(0, 63%, 58%);
}

*, ::before, ::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4px;
  //position: relative; no!!
  
  &__img-wrap {
    position: relative;
    background-color: #000;
    cursor: pointer;
    
    &:hover .gallery__img {
      filter: grayscale(0%);
    }
    
    &:hover::after  {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    
    &::after {
      pointer-events: none;
      
      position: absolute;
      content: "+";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background-color: var(--red);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.7em;
      color: #fff;
      line-height: 1.4;
      transition: all 400ms ease-out;
      opacity: 0;
    }
    
  }
  
  &__img-wrap:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__img-wrap:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__img-wrap:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__img-wrap:last-of-type {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  &__img {
    display: block;
    filter: grayscale(100%);
    transition: filter 950ms ease-out;
  }
  
  &__tophalf {
    position: absolute;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 50;
    background-color: rgba(0,0,0,.6);
    background-image: url(https://100dayscss.com/codepen/13-1-header.jpg);
    height: 45%;
    width: 100%;
    transform: translateY(-105%);
    transition: all 800ms ease-out 300ms;
    
    &.slidein {
      transform: translateY(0);
      transition: all 800ms ease-out;
    }
  }
  
  &__bottomhalf {
    position: absolute;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    z-index: 50;
    background-color: var(--red);
    height: 55%;
    width: 100%;
    top: calc(45% + 3px);
    padding: 4.25em 0 2em 0;
    transform: translateY(100%);
    transition: all 800ms ease-out 300ms;
    
    &.slidein {
      transform: translateY(0);
      transition: all 800ms ease-out;
    }

  }
  
  
  &__name {
    text-align: center;
    margin-bottom: 2em;
    color: #fff;
    font-size: 1.05em;
  }
  
  &__icon-wrap {
    display: flex;
    justify-content: center;
  }
  
  &__svg-wrap {
    margin-right: 2em;
    border: 1px solid white;
    border-radius: 50%;
    width: 2.75em;
    height: 2.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease-in;
    
    &:hover {
      background-color: #fff;
    }
    
    &:hover .gallery__icon {
      fill: var(--red);
    }
  }
  
  &__icon {
    fill: #fff;
    transition: all 300ms ease-out;
  }
  
  &__svg-wrap:last-of-type {
    margin-right: 0;
  }
  
  
  &__close {
    cursor: pointer;
    position: absolute;
    top: .7em;
    right: .7em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--red);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5em;
    transform: translateY(-150%);
    
    &:hover {
      color: var(--red);
      background-color: #fff;
    }
    
    &.slidein {
      transform: translateY(0);
      transition: transform 800ms ease-out 400ms, color 350ms ease-out, background-color 350ms ease-out;
    }
    
  }
  
  &__avatar {
    position: absolute;
    width: 6em;
    height: 6em;
    border: 2px solid white;
    border-radius: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -300%);
    background-image: url(https://100dayscss.com/codepen/13-4.jpg);
    background-size: cover;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.5);
    transition: transform 850ms ease-out;
    z-index: 110;
    
    &.slidein {
      transform: translate(-50%, -50%);
      transition: transform 850ms ease-out 400ms;
    }
  }
  
  
  
  
}





























