:root {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    max-width: 1280px;
    margin: 0 auto;
    color: #000;
    padding: 0 1.5em;
}

.inspiration {
    font-family: Arial, sans-serif;
    color: #333;
    text-decoration: underline;
    margin: 4em 0 0 5em;
    display: block;
}

.inspiration:hover, .inspiration:focus {
    color: #000;
}

.ski {
    background-image: linear-gradient(95deg, transparent 0%, transparent 85%, #fff 85%), url('https://res.cloudinary.com/jduquain/q_auto,f_auto/v1561652914/ski_rk51xj.jpg');
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

/******* GRID ITEM 1 and a GRID CONTAINER ***********/
.ski__embrace-wrap {
    justify-self: center;
    align-self: center;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1.2em;
    justify-items: center;
    
    padding-top: 3em;
}

.svg-fire {
    fill: #dd1515;
}

.svg-earth {
    fill: #2c9f2c;
    transform: rotate(180deg);
}

.svg-water {
    fill: #268b8b;
    transform: rotate(180deg);
}

.svg-air {
    fill: #6e93ba;
}

.ski__heading {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;
    
    grid-column: 1 / -1;
    white-space: nowrap;
    color: #525252;
}

.ski__element {
    font-weight: 700;
    font-size: 1.4em;
}

.ski__element--fire {
   background-image: linear-gradient(to bottom, #dd1515, #cc5414);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent; 
    
    opacity: 0;
}

.ski__element--earth {
   background-image: linear-gradient(to bottom, #2c9f2c, rgb(17, 142, 36, .7));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent; 
    
    opacity: 0;
}

.ski__element--water {
   background-image: linear-gradient(to bottom, #268b8b, rgb(27, 147, 147, .7));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent; 
}

.ski__element--air {
   background-image: linear-gradient(to bottom, #6e93ba, #a0c2e6);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent; 
}

.fire--two, .air--two {
    margin-left: .15em;
}

/******* GRID ITEM 2 ***********/
.ski__creds-wrap {
    justify-self: end;
    font-family: 'Playfair Display', serif;
    margin-top: 4em;
}

.by {
    font-size: .8em;
}

.ski__author {
   margin-left: 8em; 
}

.ski__illustration {
   margin-right: 6em; 
}

/******* GRID ITEM 3 ***********/
.ski__para-wrap {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 60%;
    justify-self: end;
}

.ski__para + .ski__para {
    text-indent: 2em;
}

.ski__para--one::first-letter {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    color: #525252;
    float: left;
    line-height: .8;
    margin-right: .1em;
}


@media (max-width: 1000px) {
    
    .ski__para-wrap {
        font-size: .9em;
        width: 70%;
    }
    
    .ski__para--one::first-letter {
        font-size: 4.5em;
    }
    
    .svg-fire {
        transform: scale(.8);
    }
    
    .svg-earth {
        fill: #2c9f2c;
        transform: rotate(180deg) scale(.8);
    }

    .svg-water {
        fill: #268b8b;
        transform: rotate(180deg) scale(.8);
    }
    
    .svg-air {
        transform: scale(.8);
    }

    .ski__heading {
        font-size: 1.5em;
        letter-spacing: 2px;
        word-spacing: 2px;
    }

    .ski__element {
        font-size: 1.2em;
    }
    
    .ski__creds-wrap {
        font-size: .8em;
    }
    
}

@media (max-width: 760px) {
    
    body {
        padding: 0;
    }
    
    .ski {
        display: block;
        background-image: url('https://res.cloudinary.com/jduquain/q_auto,f_auto/v1561652914/ski_rk51xj.jpg');
        background-size: cover;
        height: 75vw;
    }
    
    .ski__embrace-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        grid-gap: 1.2em;
        justify-items: center;
    }
    
    .ski__creds-wrap {
        font-family: 'Playfair Display', serif;
        text-align: right;
        margin-right: 2em;
        font-size: .9em;
    }
    
    .ski__illustration {
       margin-right: 2em; 
    }
    
    .inspiration {
        margin: 2em 0 0 3em;
    }
    
    .ski__para-wrap {
        width: 80%;
        margin: 4em 10% 0 10%;
    }
    
}


