:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --gray-100: hsl(204, 45%, 98%);
  --gray-200: hsl(210, 38%, 95%);
  --gray-300: hsl(214, 32%, 91%);
  --gray-400: hsl(211, 25%, 84%);
  --gray-500: hsl(214, 20%, 69%);
  --gray-600: hsl(216, 15%, 52%);
  --gray-700: hsl(218, 17%, 35%);
  --gray-800: hsl(218, 23%, 23%);
  --gray-900: hsl(220, 26%, 14%);
  
  --orange: #e85900;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: 'Barlow', sans-serif;
  color: var(--var-gray-700);
  background-image: linear-gradient(120deg, var(--gray-500), var(--gray-700));
  height: 100vh;
}

.inspiration {
  color: #333;
  position: absolute;
  top: 8em;
  right: .5em;
  text-decoration: underline;
}

.inspiration:hover, .inspiration:focus {
  color: #000;
}

.grid {
  width: 1340px;
  height: 840px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1em;
  margin: 2em auto;
  //overflow: hidden;
  border: 1px solid red;
  background-color: #fff;
}

.grid > * {
  border: 1px solid blue;
}


h3 {
  font-size: 1.1em;
}

p {
  font-size: .75em;
}

.grid-div {
  width: 9em;
}

img {
  width: 200px;
  height: 200px;
}

polygon {
  stroke: var(--orange);
  stroke-width: 8px;
}

h1 {
  font-size: 1.4em;
  text-transform: uppercase;
  grid-column: 1 / 8;
  grid-row: 1 / 5;
}

.grid-cell--one {
  grid-column: 1 / 9;
  grid-row: 5 / 10;
}

.grid-cell--two {
  
}

.grid-cell--three {
  
}

.grid-cell--four {
  
}

.grid-cell--five {
  grid-column: 8 / 15;
  grid-row: 4 / 9;
}

.grid-cell--six {
  
}

.grid-cell--seven {
  grid-column: 1 / 6;
  grid-row: 5 / 15;
}

.grid-cell--eight {
  
}

.grid-cell--nine {
  
}

.grid-cell--ten {
  
}

.grid-cell--eleven {
  
}

.grid-cell--twelve {
  
}

.grid-cell--thirteen {
  
}

.grid-cell--fourteen {
  
}

.grid-cell--fifteen {
  
}

.grid-cell--sixteen {
  
}

.grid-cell--seventeen {
  
}






