:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Unna', serif;
    font-size: .8em;
    max-width: 1280px;
    margin: 0 auto;
    color: #222;
}

.grid {
    display: grid;
    grid-template-areas: 
        ".......    ....... mainimg mainimg   ........ .........."
        "mainhdg    mainhdg mainimg mainimg   wrapfour .........."
        "mainhdg    mainhdg mainimg mainimg   wrapfour callouttwo"
        "calloutone wrapone mainimg mainimg   wrapfour callouttwo"
        "calloutone wrapone wraptwo wrapthree wrapfour callouttwo";
    grid-template-columns: .4fr 1fr 1fr 1fr 1fr .4fr;
    grid-template-rows: 80px repeat(5, auto); 
    grid-gap: 1.5em;
    margin: 3em 0;
}

.inspiration {
    font-family: 'Krub', sans-serif;
    color: #333;
    position: absolute;
    top: 2em;
    left: 1.8em;
    text-decoration: underline;
}

.inspiration:hover, .inspiration:focus {
    color: #000;
}

/****** GRID ITEM 1 ******/
.main-heading {
    grid-area: mainhdg;
}

.author {
    border-radius: 50%;
    width: 20%;
}

.author-name {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #d01e1e;
    margin: .3em 0;
    text-indent: 0 !important;
}

.line {
    border-top: 1px solid #f4a514;
    height: 1px;
    display: block;
    margin-bottom: 3px;
}

.heading {
    font-size: 2.5em;
    line-height: .8;
    padding: .3em 0;
    font-weight: 400;
}

.enemy {
    display: block;
    font-size: 1.6em;
    font-weight: 700;
}

.tagline {
    font-family: 'Arimo', sans-serif;
    padding: .5em 1.5em;
    position: relative;
    margin-bottom: .5em;
    font-size: .9em;
}

.tagline::before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #f4a514;
    border-left-width: 7px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.tagline::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #f4a514;
    border-left-width: 7px;
    top: 50%;
    transform: translateY(-50%);
    left: .5em;
}

.opponent {
    font-weight: bold;
}

/****** GRID ITEM 2 ******/
.callout--one {
    transform: translateY(45px);
    color: #d01e1e;
    font-family: sans-serif;
    grid-area: calloutone;
    border-top: 6px solid black;
    padding: .5em;
    position: relative;
    text-align: center;
    line-height: 1.4;
    width: 90%;
}

.callout--one::before {
    color: #000;
    content: '\201C';
    position: absolute;
    font-size: 5em;
    top: -.75em;
    line-height: .95;
    width: .5em;
    height: .5em;
    border: 3px solid #f4a514;
    border-radius: 50%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.noone {
    font-style: italic;
}

/****** GRID ITEM 3 ******/
.para-wrap--one {
    grid-area: wrapone;
}

.close {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
}

.para-title {
    font-family: 'Arimo', sans-serif;
    color: #d01e1e;
    font-weight: bold;
    font-size: .8em;
    margin-top: 1.5em 
}

/****** GRID ITEM 4 ******/
.hero {
    grid-area: mainimg;
    width: 100%;
    height: 100%;
}

/****** GRID ITEM 5 ******/
.para-wrap--two {
    grid-area: wraptwo;
}

p:not(:first-child) {
    text-indent: 1em;
}

.para-three, .para-five, .para-seven, .para-eight, .para-eleven {
    text-indent: 0 !important;
}

/****** GRID ITEM 6 ******/
.para-wrap--three {
    grid-area: wrapthree;
    
}

/****** GRID ITEM 7 ******/
.para-wrap--four {
    grid-area: wrapfour;  
    border-right: 1px solid #847f7f;
    padding-right: .6em;
}

/****** GRID ITEM 8 ******/
.callout--two {
    grid-area: callouttwo; 
    font-family: 'Arimo', sans-serif;
    border-top: 6px solid black;
    padding: .5em;
    position: relative;
    width: 90%;
}

.callout--two::before {
    content: '\f041';
    font-family: fontawesome;
    position: absolute;
    font-size: 3em;
    top: -1.25em;
    line-height: .95;
    width: .5em;
    height: .5em;
    left: 50%;
    transform: translateX(-50%);
    color: #f4a514;
}

.onemore {
    text-transform: uppercase;
    color: #d01e1e;
    font-size: .8em;
    text-decoration: underline;
    white-space: nowrap;
    margin: .5em 0;
}

.callout-main {
    font-size: .75em;
    color: #3232a5;
    text-align: center;
    line-height: 1.3;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
}


@media screen and (max-width: 1280px) {
    body {
        font-size: .75em;
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 1050px) {
    .grid {
        grid-template-areas: 
            ".......    ....... mainimg mainimg   ........"
            "mainhdg    mainhdg mainimg mainimg   wrapfour"
            "mainhdg    mainhdg mainimg mainimg   wrapfour"
            "calloutone wrapone mainimg mainimg   wrapfour"
            "calloutone wrapone wraptwo wrapthree wrapfour"
            ".......... ....... callouttwo callouttwo .";
        grid-template-columns: .4fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 80px auto auto auto auto auto;
        margin: 2em 0; 
    }
    
    .para-wrap--four { 
        border-right: none;
        padding-right: 0;
    }
    
    .callout--two {
        margin-top: 5em;
        width: 100%;
        text-align: center;
        margin-left: -4em;
    }
    
    .callout-main {
        font-size: .9em;
        font-weight: 400;
    }
    
}

@media screen and (max-width: 900px) {
    .grid {
        grid-template-areas: 
            ".......    ....... mainimg mainimg"
            "mainhdg    mainhdg mainimg mainimg"
            "mainhdg    mainhdg mainimg mainimg"
            "calloutone wrapone mainimg mainimg"
            "calloutone wrapone wraptwo wrapthree"
            "........   wrapfour wrapfour callouttwo"
            "........   wrapfour wrapfour callouttwo";
        grid-template-columns: .4fr 1fr 1fr 1fr;
        grid-template-rows: 80px repeat(6, auto);
    }
    
    .para-wrap--four {
        column-width: 16em;
    }
    
    .para-wrap--four > .para-title:first-child {
        margin-top: 0;
    }
    
    .callout--two {
        margin-left: 0;
        width: 60%;
        justify-self: end;
    }
    
}

@media screen and (max-width: 750px) {
    .grid {
        grid-template-areas: 
            ".......    mainhdg   mainhdg   ......."
            ".......    wrapone   wrapone   ......."
            "mainimg    mainimg   mainimg   mainimg"
            ".......... wraptwo   wraptwo   ......."
            "calloutone wrapthree wrapthree ......."
            "calloutone wrapfour  wrapfour  callouttwo"
            "........   wrapfour  wrapfour  callouttwo";
        grid-template-columns: .6fr 1fr 1fr .6fr;
        grid-template-rows: repeat(7, auto);
        grid-gap: 2em 1em;
        margin: 5em 0;
    }
    
    .author {
        width: 15%;
    }
    
    .hero {
        height: 80vw;
        width: 90%;
        margin: 0 auto;
    }
    
    .callout--two {
        width: 100%;
        margin: 2em 0 0 0;
        font-size: .85em;
        align-self: end;
    }
    
    .para-wrap--four {
        column-width: initial;
    }
}

@media screen and (max-width: 530px) {
    .grid {
        grid-template-areas: 
            ".......    mainhdg    ......."
            ".......    wrapone    ......."
            "mainimg    mainimg    mainimg "
            ".......... wraptwo    ......."
            ".......... wrapthree  .........."
            "calloutone calloutone calloutone"
            ".......... wrapfour   .........."
            "callouttwo callouttwo callouttwo";
        grid-template-columns: .2fr 1fr .2fr;
        grid-template-rows: repeat(7, auto);
    }
    
    .hero {
        width: 90%;
    }
    
    .callout--one {
        width: 90%;
        margin: 0 auto 2em 0;
        border-top-width: 4px;
        height: 20vw;
    }
    
    .callout--two {
        width: 90%;
        margin: 3em auto 0 auto;
        border-top-width: 4px;
    }
    
}

