
.skew {
    margin: 6em 0;
    background-color: rgba($purple, .4);
    clip-path: polygon(0% 3vw, 50% 0%, 100% 3vw, 100% 100%, 0% 100%);
    
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    &__sect-one {
        //position: relative;
        
        /*&::before {
            content: "";
            position: absolute;
            height: 130px;
            width: 100%;
            background-color: red;
            top: 0;
            left: -50px;
            transform: rotate(-10deg);
            transform-origin: left center;
        }*/
    }
    
    &__image {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    
    &__sect-two {
        padding: 2em;
        color: #fff;
        //position: relative;
        
        /*&::before {
            content: "";
            position: absolute;
            right: -50px;
            height: 130px;
            width: 100%;
            background-color: red;
            top: 0;
            transform: rotate(10deg);
            transform-origin: right center;
        }*/
        
    }
    
    
}