
:root {
  box-sizing: border-box; 
  
}

*, ::before, ::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}


.radio {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    
  }
  
  &__btn:first-of-type:checked ~ .radio__overlay {
    transform: translateX(0);
  }
  
  &__btn:nth-of-type(2):checked ~ .radio__overlay {
    transform: translateX(-33.333%);
  }
  
  &__btn:last-of-type:checked ~ .radio__overlay {
    transform: translateX(-66.666%);
  }
  
  &__overlay {
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: .7;
    display: flex;
    z-index: -1;
    transition: transform 850ms ease-out;
  }
  
  &__box {
    flex: 1;
  }
  
  &__box--one {
    background-color: mediumpurple;
  }
  
  &__box--two {
    background-color: blue;
  }
  
  &__box--three {
    background-color: darkgreen;
  }
  
  &__btn {
    display: none;
  }
  
  &__btn:first-of-type:checked ~ .radio__ball {
    left: 118px;
  }
  
  &__btn:nth-of-type(2):checked ~ .radio__ball {
    left: 176px;
  }
  
  &__btn:last-of-type:checked ~ .radio__ball {
    left: 234px;
  }
  
  &__label {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: .5em;
    cursor: pointer;
  }
  
  &__ball {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 118px;
    transition: all 650ms ease-out;
  }

}

















